deon==0.3.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
matplotlib==3.5.3
nb_black==1.0.7
notebook==6.4.12
numpy==1.23.1
pandas==1.4.3
scikit-learn==1.1.2
seaborn==0.11.2
wget==3.2
